doctype html
html
  head
    title= 'Bad Gateway'
    link(rel='stylesheet', href='./stylesheets/style.css;')
  body(style="background-color: black; padding: 50px;")
    block content
    h1(style="width: 100%; text-align:center; font-weight: bold; color: red; margin-top: 8rem")= message
    h1(style="width: 100%; text-align:center; font-weight: bold; color: red")= error.status
